.reviews {
    overflow-x: hidden;
}

.review-body {
    width: 60%;
    max-width: 500px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}

.review-content {
    /* width: 80%; */
    margin-left: 20%;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
}

.review-content::-webkit-scrollbar {
    display: none;
}
  
.review-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.review-item {
    min-width: 330px;
    min-height: 230px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: auto 20px;
}

.review-header {
    /* margin-left: 40px; */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.ratings {
    display: flex;
    justify-content: space-between;
}

.star-image {
    width: 13px;
    height: 15px;
    padding-top: 2px;
    padding-left: 5px;
}

.review-text {
    padding: 10px 20px;
    text-align: justify;
}

.review-control {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}

.review-control-left {
    width: 80%;
    margin: auto;
}

.review-controls-right {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.review-nav-btn {
    max-width: 60px;
    /* width: 60px;
    height: 60px; */
    width: 100%;
}