.date-picker {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.date-label {
    margin: auto 25px;
}

.view-data {
    width: 400px;
}

.menus {
    min-width: 400px !important;
}

.menu-item {
    width: 400px;
}

.menu-image {
    padding-top: 5px;
    margin-right: 10px;
}

.select-input-handler {
    width: 400px;
    border: 2px solid gray;
    padding: 5px 2px;
    border-radius: 5px;
    text-align: left;
}

.select-icon {
    padding-right: 10px;
}